.back-bar {
    background-color: #303030;
}

.back-mid {
    background-color: #242424;
}

.padding-main {
    padding-top: 56px!important;
    padding-bottom: 56px!important;
}

.nav-link {
    color: #ffffff!important;
}


.research-button {
    background-color: #454545!important;
    border: none!important;
    color: #858585!important;
}


.research-input {
    background-color: #454545!important;
    border: none!important;
    color: #858585!important;
}

.form-control.research-input{
    background-color: #454545!important;
    border: none!important;
    color: #858585!important;
}

.active{
    background-color: #454545!important;
}

.modal-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-content{
    background-color: transparent!important;
}

.btn-primary{
    background-color: #3584E4!important;

}

.bi::before{
    vertical-align: -15%!important;
}